@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

.header {
  padding: 20px;   
  background-color:  #f7f7f7;
  border-bottom: 2px solid #cedddf00;
  display: flex;
  justify-content: space-between;
}
.main_text {
  text-align: center;
}
.sha {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}
.logo_text {
  display: flex;
  font-size: 25px;
  color: #1687a7;
  font-family: Arial, Helvetica, sans-serif;
}
.net_logo {
  color: #30475e;
}
.headerTextDes {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: -1px;
}
.Pprocessing{
  color: #1687a7;
}
.sent{
  color: #30475e;
}
.container {
  display: inline-block;
  cursor: pointer;
  margin-top: 2px;
}

.bar1, .bar2, .bar3 {
  width: 23px;
  height: 3px;
  background-color: #494a4b;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 3px;
}
.change  {
  margin-top: 2px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 2px);
  transform: rotate(-45deg) translate(-5px, 4px);
  background-color:#30475e;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -5px);
  background-color: #1687a7;
}

.menuMainTols{
  display: inline-block;
  transition: 0.1s;
}
.sectionsNavFlex {
  display: flex;
}
.sectionsNavFlex div{
  margin-right: 15px;
  cursor: pointer;
}
.container_log {
  margin-left: -30px;
}
.langChose {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.langChose div{
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 5px;
  background-color: #cfcdcd18;
  color: #3b3b3b;
  width: 100px;
  text-align: center;
  display: inline-block;
  transition: 0.4s;
}

.thisLangItem {
  background-color: #3f78b186 !important;
  color: #eeeeee !important;
  cursor: auto  !important;
}
.langChose div:hover{
  background-color: #6faeece1;
  color: #eeeeee ;
}

.thisLangItem:hover{
  background-color: #3f78b186 !important;
  color: #eeeeee !important;
  cursor: auto  !important;
}

.socialMainMediaNav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(161, 163, 165, 0.137);
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

.namMainTols {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}